@use '@angular/material' as mat;
@import "theme";

$config: mat.define-typography-config();
$background: map_get($theme, background);

.nav-container {
	height: 100%;
}

.mat-tab-header {
	background-color: rgba(255, 255, 255, 0.1);
}

// tab 100% height fix (https://github.com/angular/material2/issues/4591#issuecomment-308226870)
.hacky-tab-height-fix {
	height: calc(100vh - 64px - 49px);
}

.mat-tab-label {
	min-width: 150px !important;
	//display: flex !important;
	//flex-direction: column;
}
