@use '@angular/material' as mat;

.nav-container {
	height: 100%;

	& .mat-mdc-tab-group, .mat-mdc-tab-body-content > * {
		height: 100%;
	}

	& .mat-mdc-tab-body-wrapper {
		flex: auto;
	}
}

.mat-tab-header {
	background-color: rgba(255, 255, 255, 0.1);
}

.mat-tab-label {
	min-width: 150px !important;
	//display: flex !important;
	//flex-direction: column;
}
