@if (entity) {
	<div fxLayout="row" class="property-container">
		<span class="property-name">{{ displayName || key }}:</span>

		<span class="property-name-small"> </span>
		<input
			type="number"
			class="default-input small-input"
			min="0"
			[max]="map?.levels?.length! - 1"
			[ngModel]="settings[key].level"
			(input)="setLevel($any($event.target).value)"
		/>

		<span class="property-name-small">+</span>
		<input
			type="number"
			class="default-input small-input"
			[ngModel]="settings[key].offset"
			(input)="setOffset($any($event.target).value)"
		/>
	</div>
}
