<div fxLayout="row" class="property-container" [matTooltip]="attribute?.description">
	<label [for]="key" class="property-name">{{key}}:</label>
	
	<div fxLayout="column" fxFlex="1 1 0">
		<div fxLayout="row" class="row has-value">
			<label for=".hasValue" class="property-name">Has value: </label>
			<mat-checkbox class="material-input" color="primary" id=".hasValue" [(ngModel)]="hasValue"></mat-checkbox>
		</div>
		<div *ngIf="hasValue">
			<div *ngFor="let language of languages" fxLayout="row" class="language row">
				<label for="{{key}}.{{language}}" class="property-name">{{language}}</label>
				<!-- textarea inside div with padding because autosize does not like textareas with padding -->
				<div class="default-input">
					<textarea
						class="default-input"
						id="{{key}}.{{language}}"
						[ngModel]="settings[key][language]"
						(ngModelChange)="setSetting([key, language], $event)"
						cdkTextareaAutosize
						appAutosizeTextareaOnResize
					></textarea>
				</div>
			</div>
			<div fxLayout="row" class="row uid">
				<label for="{{key}}.langUid" class="property-name">langUid</label>
				<input
					type="number"
					[ngModel]="settings[key].langUid"
					(ngModelChange)="setSetting([key, 'langUid'], $event)"
					class="default-input"
					placeholder="undefined"
				>
			</div>
		</div>
	</div>
</div>