div.row {
	flex: 1 1 0;
	margin-bottom: 4px;
	
	&.language {
		& label {
			width: 45px;
		}
		
		& div {
			padding: 4px;
			display: inline-block;
			height: unset;
		}
		
		& textarea {
			resize: none;
			padding: 0px;
			width: 100%;
			height: 100%;
			outline: none;
		}
	}
	
	&.has-value {
		align-items: center;
		align-self: flex-end;
	}
}

textarea {
	overflow: hidden;
}