@use '@angular/material' as mat;

//$anms-black-primary: mat.define-palette(mat.$grey-palette, 900, 500, 900);
$anms-black-primary: mat.define-palette(mat.$blue-palette, A200);
//$anms-black-accent: mat.define-palette(mat.$blue-palette, A200);
$anms-black-accent: mat.define-palette(mat.$grey-palette, 900, 500, 900);
$anms-black-warn: mat.define-palette(mat.$red-palette, A200);

$theme: mat.define-dark-theme((
	color: (
		primary: $anms-black-primary,
		accent: $anms-black-accent,
		warn: $anms-black-warn
	),
	density: -1,
));

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:root {
	--gray-500: #9e9e9e;
	--gray-600: #757575;
	--gray-700: #616161;
	--gray-800: #424242;
	--gray-900: #212121;
}
