/* You can add global styles to this file, and also import other style files */
@import "styles/reset";
@import "~@angular/material/theming";
@import "styles/jsoneditor/darktheme";

@include mat-core();

@import "styles/theme";

$config: mat-typography-config();

html * {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.theme {
	@include angular-material-theme($theme)
}

.default-input {
	$font-type: subheading-1;
	font-family: mat-font-family($config);
	font-size: mat-font-size($config, $font-type);
	font-weight: mat-font-weight($config, $font-type);
	height: 24px;
	color: white;
	outline: solid 1px #c9c9c9;
	//transition: border 0.3s;
}

.small-input {
	width: 60px;
}

.default-input:disabled {
	outline-offset: 0;
	outline: dotted 1px rgba(201, 201, 201, 0.34);
	color: rgba(255, 255, 255, 0.5);
}

.default-input:focus,
.default-input.focus {
	outline-offset: 0;
	outline: solid 1px mat-color($mat-blue, 500);
}

button {
	text-transform: uppercase;
	&:disabled {
		color: rgba(255, 255, 255, 0.5);
	}
}

.red {
	background-color: #ff7060;
}

.blue {
	background-color: aqua;
}

.green {
	background-color: #5ad972;
}
