/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "reset";
@import "jsoneditor/darktheme";

@include mat.core();

@import "theme";

@tailwind base;
@tailwind utilities;

$config: mat.define-typography-config();

html * {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
	overflow: hidden;
}

.no-error-msg .mat-mdc-form-field-subscript-wrapper {
	display: none !important;
}

// no scrollbars when dragging history outside
.mat-drawer-content {
	overflow: hidden !important;
}

.theme {
	@include mat.all-component-themes($theme)
}

.theme .mat-drawer-backdrop.mat-drawer-shown {
	background: rgba(0, 0, 0, 0.32);
}

.default-input {
	$font-type: subtitle-1;
	font-family: mat.font-family($config);
	font-size: mat.font-size($config, $font-type);
	font-weight: mat.font-weight($config, $font-type);
	height: 24px;
	color: white;
	outline: solid 1px #c9c9c9;
	//transition: border 0.3s;
}

input[type=text].default-input, input:not([type]).default-input {
	padding-left: 4px;
}

.small-input {
	width: 60px;
}

.default-input:disabled {
	outline-offset: 0;
	outline: dotted 1px rgba(201, 201, 201, 0.34);
	color: rgba(255, 255, 255, 0.5);
}

.default-input:focus,
.default-input.focus {
	outline-offset: 0;
	outline: solid 1px mat.get-color-from-palette(mat.$blue-palette, 500);
}


.default-input.mat-select {
	line-height: 24px;
	outline: solid 1px #c9c9c9 !important;
}

.default-input.mat-select:disabled {
	outline: dotted 1px rgba(201, 201, 201, 0.34) !important;
}

.default-input.mat-select:focus,
.default-input.mat-select.focus {
	outline: solid 1px mat.get-color-from-palette(mat.$blue-palette, 500)  !important;
}

.default-input.mat-select .mat-select-value-text {
	padding-left: 4px;
}


button {
	//text-transform: uppercase;

	&:disabled {
		color: rgba(255, 255, 255, 0.5);
	}
}

.red {
	background-color: #ff7060;
}

.blue {
	background-color: aqua;
}

.green {
	background-color: #5ad972;
}

// sick scrollbar
.dark-scrollbar {
	&::-webkit-scrollbar-track {
		background-color: mat.get-color-from-palette($accent, 800);
	}

	&::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		background-color: mat.get-color-from-palette($accent, 600);
	}

	// non standard value, makes scrollbar not take additional space.
	// More information: https://stackoverflow.com/a/43051077/5244460
	// noinspection CssInvalidPropertyValue
	overflow: overlay;
}

.small-dark-scrollbar {
	@extend .dark-scrollbar;

	&::-webkit-scrollbar {
		width: 8px;
		background-color: #F5F5F5;
	}
}

.highlight {
	color: #69bdfc;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
