@use '@angular/material' as mat;
@use '../variables' as var;

.card {
	position: relative;
	width: var.$card-width;
	background-color: var(--gray-700);
	transition: transform 100ms ease, border 100ms ease;

	box-sizing: border-box;
	border: 2px solid transparent;

	&:hover {
		transform: scale(1.1);
	}

	.has-more {
		position: absolute;
		top: 3px;
		right: 3px;
		border-radius: 5px;
		display: grid;
		background: rgba(0, 0, 0, 0.5);
		padding: 3px 6px;
		line-height: normal;
		font-size: 12px;
		font-weight: 500;
		opacity: 0.8;
	}
}

.selected {
	border-color: red;
}

.card-label {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	height: 50px;
	width: 100%;
	display: grid;
	align-items: center;
	line-height: 17px;

	& > * {
		padding: 0 6px;
		box-sizing: border-box;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		align-items: center;
	}
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.bg-img {
	width: 100%;
	min-height: 0;
}
