@import "~@angular/material/theming";

$config: mat-typography-config();

h2 {
	margin-left: 14px;
	margin-top: 10px;
	margin-bottom: 0;
	background: transparent;
}

.mapTree-invisible {
	display: none;
}

.mapTree ul,
.mapTree li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  list-style-type: none;
}