@import "~@angular/material/theming";

$config: mat-typography-config();


.mapTree ul,
.mapTree li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16px;
  list-style-type: none;
}

.mapTree li > .mat-button {
	text-transform: none;
  width: 100%;
  min-height: 48px;
}

.mapTree li > .mat-button /deep/ .mat-button-wrapper {
	float: left;
}

.filter {
	padding: 16px;
}

:host /deep/ .highlight {
    background: #513E32;
}