<cc-overlay-panel
	[title]="actionStep ? 'Action' : 'Event'"
	[customSize]="{width: '80vw', height: 'calc(94vh - 64px)'}"
	[showButtonDivider]="true"
>
	<ng-container ngProjectAs="content">
		<app-event-editor
			#eventEditor
			fxLayout="column"
			[eventData]="event"
			[actionStep]="actionStep"
		></app-event-editor>
	</ng-container>
	<ng-container ngProjectAs="actions">
		<button mat-stroked-button (click)="cancel()">Cancel</button>
		<button mat-stroked-button (click)="save()">Save</button>
	</ng-container>
</cc-overlay-panel>
