<div class="container mat-elevation-z8"
     [style.width]="width"
     [style.top]="top"
     [style.right]="right"
     [handle]="handle"
     (stopped)="onDragEnd()"
     ngDraggable
>
	<div #handle class="toolbar" fxLayout="row" fxLayoutAlign="center">
		<span fxFlexAlign="center" class="title" style="pointer-events: none;" fxFlex>{{title}}</span>
		<button *ngIf="showMin" mat-button color="primary" fxFlexAlign="center" class="toolbar-button minimize-button"
		        (click)="toggle()">-
		</button>
		<button *ngIf="showClose" mat-button color="warn" fxFlexAlign="center" class="toolbar-button close-button"
		        (click)="onClose()">x
		</button>
	</div>
	<div class="content" [ngStyle]="contentStyle">
		<ng-content [ngStyle]="{display: visible ? 'inherit' : 'none'}"></ng-content>
	</div>
</div>
