<div class="container mat-elevation-z8" ngDraggable [handle]="handle" (stopped)="onDragEnd($event)"
     [style.top]="top" [style.right]="right">
	<div #handle class="toolbar" fxLayout="row" fxLayoutAlign="center">
		<span fxFlexAlign="center" class="title" style="pointer-events: none;" fxFlex>{{title}}</span>
		<button mat-button color="primary" fxFlexAlign="center" class="minimize-button" (click)="toggle()">-</button>
	</div>
	<div class="content" [style.width]="width" [ngStyle]="{height: visible ? height : 0}">
		<ng-content *ngIf="visible"></ng-content>
	</div>
</div>
