@import "~@angular/material/theming";
@import "../../styles/theme";

$config: mat-typography-config();
$background: map_get($theme, background);

.nav-container {
	height: 100%;
}

.mat-tab-header{
	background-color: rgba(255, 255, 255, 0.1);
}


// tab 100% height fix (https://github.com/angular/material2/issues/4591#issuecomment-308226870)
.mat-tab-body-wrapper {
	flex-grow: 1;
}

.mat-tab-body {
	display: flex !important;
	flex-direction: column;
}

.mat-tab-body-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
