@use '@angular/material' as mat;
@import "theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$toolbarHeight: 54px;

:host {
	pointer-events: none;
}

.overlay-headline {
	padding-left: 16px;
	text-align: center;
	margin: 0;
}

.container {
	color: white;
	background: var(--gray-800);
	pointer-events: auto;
}

.container-default-size {
	width: 60vw;
	height: calc(94vh - 64px);
}


// TODO: should switch to angular cdk dragable
.ng-draggable:not(.container) {
	cursor: move;
}

.toolbar {
	background-color: var(--gray-900);
	height: $toolbarHeight;
	z-index: 10;
}

.buttons {
	& ::ng-deep button {
		margin-right: 18px;
	}
}

.bottom-border {
	border-top: 1px solid var(--gray-600);
}

.no-buttons {
	flex-basis: 0 !important;
	min-height: 0 !important;
	border: none;
}

.content {
	height: 100%;
	min-height: 0;
}

.scrollable-content {
	overflow: auto;
}

