<div
	class="container mat-elevation-z8 container-default-size"
	fxLayout="column"
	title=""
	cdkDrag
	[cdkDragDisabled]="!allowDrag"
	[style.width]="customSize?.width"
	[style.height]="customSize?.height"
	[style.margin-left]="left"
	[style.margin-top]="top"
>
	<div fxFlex="0 0 auto"
	     cdkDragHandle
	     class="toolbar mat-elevation-z4 elevated-toolbar"
	     fxLayout="column"
	     fxLayoutAlign="center"
	>
		
		@if (title) {
			<h1 class="overlay-headline mat-headline">{{ title }}</h1>
		}
		<ng-content select="toolbar"></ng-content>
	</div>
	<div class="content" fxFlex="1 1 0" fxLayout="column">
		<div class="scrollable-content" fxFlex="1 1">
			<ng-content select="content"></ng-content>
		</div>
	</div>
	
	<div
		fxFlex="0 0 60px"
		fxLayout="row"
		[ngClass]="{'no-buttons': actionsRef.children.length == 0}"
		[class.bottom-border]="showButtonDivider"
	>
		<div class="buttons" fxFlexAlign="center" fxLayoutAlign="end" fxFlex #actionsRef>
			<ng-content select="actions"></ng-content>
		</div>
	</div>
</div>
