<div class="outer-container">
	<mat-sidenav-container>
		<mat-sidenav #sidenavLoadMap class="dark-scrollbar" [autoFocus]="false">
			<app-load-map #loadmap [sidenav]="sidenavLoadMap"></app-load-map>
		</mat-sidenav>
		<mat-sidenav-content>
			<app-toolbar (loadMapToggled)="loadMapToggled()"></app-toolbar>
			<mat-sidenav-container>
				<mat-sidenav disableClose #sidenav mode="side" opened="true" class="mat-primary">
					<app-sidenav></app-sidenav>
				</mat-sidenav>
				<mat-sidenav-content>
					<div class="green outer-container no-scroll">
						<app-phaser></app-phaser>
					</div>
					<app-history></app-history>
					<app-tile-selector></app-tile-selector>
				</mat-sidenav-content>
			</mat-sidenav-container>
			<app-add-entity-menu></app-add-entity-menu>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
