.outer-container {
	width: 100%;
	height: 100%;
	background-color: #9f7a1e;
}

.inner-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #9f7a1e;
}

.no-scroll {
	overflow-x: hidden;
	overflow-y: hidden;
}

// somewhere 1px is lost, material tabs have a size of 150px per tab.
// So when using 2 tabs a width of 300px is needed to avoid rendering scroll arrows
mat-sidenav {
	width: 301px;
}
