<cc-overlay-panel
	title="Enemy type"
	[customSize]="{width: '301px'}"
	[showButtonDivider]="true"
>
	<!-- 301px is the same as the width of a sidenav -->
	<ng-container ngProjectAs="content">
		<div class="enemy-settings-container dark-scrollbar" fxLayout="column">
			<div fxLayout="row" class="property-container">
				<label for="type" class="property-name">type:</label>
				<input class="default-input"
						id="type"
						[ngModel]="settings[key]['type']"
						(input)="setSetting([key,'type'], $event.target.value)">
			</div>
			<div fxLayout="row" class="property-container">
				<label for="group" class="property-name">group:</label>
				<input class="default-input"
						id="group"
						[ngModel]="settings[key]['group']"
						(input)="setSetting([key,'group'], $event.target.value)">
			</div>
			<div fxLayout="row" class="property-container">
				<label for="state" class="property-name">state:</label>
				<input class="default-input"
						id="state"
						[ngModel]="settings[key]['state']"
						(input)="setSetting([key,'state'], $event.target.value)">
			</div>
			<div fxLayout="row" class="property-container">
				<label for="startEffect" class="property-name">startEffect:</label>
				<input class="default-input"
						id="startEffect"
						[ngModel]="stringify(settings[key]['startEffect'])"
						(input)="setSetting([key,'startEffect'], parse($event.target.value))">
			</div>
			<div fxLayout="row" class="property-container">
				<label for="hideEffect" class="property-name">hideEffect:</label>
				<input class="default-input"
						id="hideEffect"
						[ngModel]="stringify(settings[key]['hideEffect'])"
						(input)="setSetting([key,'hideEffect'], parse($event.target.value))">
			</div>
			<!--TODO: varIncrease-->
			<!--TODO: attribs-->
			<div fxLayout="row" class="property-container">
				<label for="targetOnSpawn" class="property-name">targetOnSpawn:</label>
				<mat-checkbox id="targetOnSpawn"
							color="primary"
							[checked]="settings[key]['targetOnSpawn']"
							(change)="setSetting([key,'targetOnSpawn'], $event.checked)">
					<div style="width: 150px"></div>
				</mat-checkbox>
			</div>
			<div fxLayout="row" class="property-container">
				<label for="disableNoScale" class="property-name">disableNoScale:</label>
				<mat-checkbox id="disableNoScale"
							color="primary"
							[checked]="settings[key]['disableNoScale']"
							(change)="setSetting([key,'disableNoScale'], $event.checked)">
					<div style="width: 150px"></div>
				</mat-checkbox>
			</div>
			<div fxLayout="row" class="property-container">
				<label for="level" class="property-name">level:</label>
				<input type="number"  class="default-input" id="level"
						[ngModel]="settings[key]['level']"
						(input)="setSetting([key,'level'], $event.target.value)">
			</div>
			<div fxLayout="row" class="property-container">
				<label for="party" class="property-name">party:</label>
				<mat-select id="party"
							class="default-input"
							[ngModel]="settings[key]['party']"
							(selectionChange)="setSetting([key,'party'], $event.value)">
					<mat-option *ngFor="let option of partyOptions" [value]="option">{{option}}</mat-option>
				</mat-select>
			</div>
			<div fxLayout="row" class="property-container">
				<label for="face" class="property-name">face:</label>
				<mat-select id="face"
							class="default-input"
							[ngModel]="settings[key]['face']"
							(selectionChange)="setSetting([key,'face'], $event.value)">
					<mat-option *ngFor="let option of faceOptions" [value]="option">{{option}}</mat-option>
				</mat-select>
			</div>
		</div>
	</ng-container>
	<ng-container ngProjectAs="actions">
		<button mat-stroked-button (click)="close()">Close</button>
	</ng-container>
</cc-overlay-panel>
