@import "~@angular/material/theming";

canvas {
	width: 100%;
	height: 100%;
}

.babylon-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: mat-color($mat-gray, 700);
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;

	.loading-bar {
		width: 50%;
		text-align: center;
	}

	mat-progress-bar{
		height: 20px;
	}
}
