@use '~@angular/material' as mat;

canvas {
	width: 100%;
	height: 100%;
}

.babylon-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: mat.get-color-from-palette(mat.$gray-palette, 700);

	.loading {
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
		justify-items: center;
	}
}
