<div
	class="container mat-elevation-z8"
	fxLayout="column"
	[ngDraggable]="allowDrag"
	[handle]="handle"
	[ngClass]="{'container-default-size': !customSize}"
	[style.width]="customSize?.width"
	[style.height]="customSize?.height"
>
	<div fxFlex="0 0 auto"
         #handle
	     class="toolbar mat-elevation-z4 elevated-toolbar"
	     fxLayout="column"
	     fxLayoutAlign="center"
	>
		
		<h1 *ngIf="title" class="overlay-headline mat-headline">{{title}}</h1>
		<ng-content select="toolbar"></ng-content>
	</div>
	<div class="content" fxFlex="1 1 0" fxLayout="column">
		<div class="scrollable-content dark-scrollbar" fxFlex="1 1">
			<ng-content select="content"></ng-content>
		</div>
	</div>
		
	<div fxFlex="0 0 60px" fxLayout="row" [ngClass]="{'no-buttons': actionsRef.children.length == 0}">
		<div class="buttons" fxFlexAlign="center" fxLayoutAlign="end" fxFlex #actionsRef>
			<ng-content select="actions"></ng-content>
		</div>
	</div>
</div>
