@import "theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$toolbarHeight: 54px;

.overlay-headline {
	padding-left: 16px;
	text-align: center;
	margin: 0;
}

.container {
	color: white;
	background: mat-color($accent, 800);
}

.container-default-size {
	width: 60vw;
	height: calc(94vh - 64px);
}


.ng-draggable {
	cursor: move;
}

.toolbar {
	background-color: mat-color(map-get($theme, background), app-bar);
	height: $toolbarHeight;
}

.buttons {
	& ::ng-deep button {
		margin-right: 18px;
	}
}

.no-buttons {
	flex-basis: 0 !important;
	min-height: 0 !important;
}

.content {
	height: 100%;
}

.scrollable-content {
	overflow: auto;
}

