<h2 class="mat-title">{{entity?.details.type}}</h2>
<div class="entity-settings-container" fxLayout="column">
	
	<app-string-widget [key]="'name'" [entity]="entity" *ngIf="entity"></app-string-widget>
	
	<div fxLayout="row" fxFlex="0 0 auto" class="property-container" *ngIf="entity">
		<span class="property-name">Pos:</span>
		
		<span class="property-name-small">X:</span>
		<input type="number" class="default-input small-input" [(ngModel)]="entity.group.x">
		
		<span class="property-name-small">Y:</span>
		<input type="number" class="default-input small-input" [(ngModel)]="entity.group.y">
	</div>
	
	<div fxLayout="row" fxFlex="0 0 auto" class="property-container" *ngIf="entity">
		<span class="property-name">Level:</span>
		
		<span class="property-name-small"> </span>
		<input type="number" class="default-input small-input" min="0" [max]="map.levels.length-1"
		       [ngModel]="entity.details.level.level" (input)="setLevel($event.target.value)">
		
		<span class="property-name-small">+</span>
		<input type="number" class="default-input small-input" [ngModel]="entity.details.level.offset"
		       (input)="setOffset($event.target.value)">
		<span class="property-name-small">px</span>
	</div>
	
	<ng-template appHost></ng-template>
</div>
