<h2 class="mat-title">{{entity?.details.type}}</h2>
<div class="entity-settings-container" fxLayout="column">
	
	<div fxLayout="row" fxFlex="0 0 auto" class="property-container" *ngIf="entity">
		<span class="property-name">Name:</span>
		<input class="default-input">
	</div>
	
	<div fxLayout="row" fxFlex="0 0 auto" class="property-container" *ngIf="entity">
		<span class="property-name">Pos:</span>
		
		<span class="property-name-small">X:</span>
		<input type="number" class="default-input small-input" [(ngModel)]="entity.group.x">
		
		<span class="property-name-small">Y:</span>
		<input type="number" class="default-input small-input" [(ngModel)]="entity.group.y">
	</div>
	
	<div fxLayout="row" fxFlex="0 0 auto" class="property-container" *ngIf="entity">
		<span class="property-name">Level:</span>
		
		<input type="number" class="default-input small-input" min="0" [max]="map.levels.length-1"
		       [ngModel]="entity.details.level.level" (input)="setLevel($event.target.value)">
		
		<span class="property-name-small">+</span>
		<input type="number" class="default-input small-input" [ngModel]="entity.details.level.offset"
		       (input)="setOffset($event.target.value)">
		<span class="property-name-small">px</span>
	</div>
	
	<!-- TODO: should load custom components based on input type -->
	<!--<div fxLayout="row" fxFlex="0 0 auto" class="property-container" *ngFor="let key of settingKeys">-->
		<!--<span class="property-name">{{key}}:</span>-->
		<!--<textarea class="default-input" [ngModel]="json.stringify(entity.details.settings[key], undefined, 2)" (input)="setSetting($event.target.value, key)"></textarea>-->
	<!--</div>-->

	<ng-template appHost></ng-template>
</div>
