<div fxLayout="row" class="property-container" [matTooltip]="attribute?.description">
	<label class="property-name">{{displayName || key}}:</label>
	
	<label [for]="key + '.x'" class="property-name-small">X:</label>
	<input [id]="key + '.x'" type="number" class="default-input small-input"
	       [step]="step"
	       [min]="minSize.x"
	       [disabled]="!enableX"
	       [ngModel]="settings[key].x"
	       (input)="setVal('x', toInt($event.target.value))">
	
	<label [for]="key + '.y'" class="property-name-small">Y:</label>
	<input [id]="key + '.y'" type="number" class="default-input small-input"
	       [step]="step"
	       [min]="minSize.x"
	       [disabled]="!enableY"
	       [ngModel]="settings[key].y"
	       (input)="setVal('y', toInt($event.target.value))">
</div>
