@use '@angular/material' as mat;

mat-expansion-panel-header {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

// layer selection
$type-hue: A200;

// hidden layers brightness reduction
$brightness: 60%;

.type-Background {
	background-color: #69f0ae;
}

.type-Collision {
	background-color: #ff5252;
}

.type-Navigation {
	background-color: #448aff;
}

.type-HeightMap {
	background-color: #ffab40;
}

.type-Light {
	background-color: #ffff00;
}

.layer-icon {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.item-selected-bg {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: background-color 100ms linear;
}

// firefox fix
.item-selected-bg {
	top: 0;
}

.item-selected {
	background-color: rgba(white, 0.2);
}

mat-nav-list {
	padding-top: 0 !important;
	overflow-x: hidden;
}

.small-list {
	min-height: 80px !important;
	$size: 36px;

	button {
		--mat-button-text-touch-target-size: $size !important;
	}

	& mat-list-item, .mat-list-item-content {
		height: $size !important;
	}
}

.layers-tab-container {
	height: 100%;
}

.mat-expansion-panel-body {
	padding: 0 !important;
}

// layer settings
.settings-list {
}

.label {
	flex: 0 0 80px;
	@include mat.icon-button-density(-3);
}

.list-item {
	//padding-left: 16px;
	width: 100%;
}

.size-prefix {
	margin-left: 6px;
}

.simple-input {
	padding-bottom: 5px !important;
	box-shadow: inset 0px -1px 0px 0px rgb(255, 255, 255);
}

.layer-hidden {
	filter: brightness($brightness);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
	transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
