@use '@angular/material' as mat;

.content-container {
	padding: 16px;
}

.option-row {
	align-items: center;
	margin-top: 16px;
}

.actions-container {
	align-items: center;

	& button {
		margin-left: 12px;
	}
}

.icon-base {
	margin-left: 8px;
}

.icon-undefined {
	color: #2196f3;
}

.icon-valid {
	color: #4caf50;
}

.icon-invalid {
	color: #f44336;
}
