@use '~@angular/material' as mat;

.content-container {
	padding: 16px;
}

.option-row {
	align-items: center;
	margin-top: 16px;
}

.actions-container {
	align-items: center;

	& button {
		margin-left: 12px;
	}
}

.icon-base {
	margin-left: 8px;
}

.icon-undefined {
	color: mat.get-color-from-palette(mat.$blue-palette, 500);
}

.icon-valid {
	color: mat.get-color-from-palette(mat.$green-palette, 500);
}

.icon-invalid {
	color: mat.get-color-from-palette(mat.$red-palette, 500);
}
