<mat-nav-list fxFlex="1 1 auto" class="small-list">
	<mat-list-item *ngFor="let layer of tilemap.layers" (click)="selectLayer(layer)">
		<div class="item-selected-bg" [ngClass]="{'item-selected': layer === selectedLayer}"></div>
		<div mat-list-icon class="type-circle" [ngClass]="'type-' + layer.details.type"></div>
		<span mat-line>{{getDisplayName(layer)}}</span>
		
		<button mat-icon-button (click)="toggleVisibility($event, layer)" class="green">
			<mat-icon>{{layer.visible ? 'visibility' : 'visibility_off'}}</mat-icon>
		</button>
	</mat-list-item>
</mat-nav-list>

<h3 fxFlex="0 0 auto">Layer settings {{selectedLayer ? '- ' + getDisplayName(selectedLayer) : ''}}</h3>
<mat-list fxFlex="0 0 auto" class="settings-list">
	<mat-list-item fxLayout="column">
		<span class="label">Type: </span>
		<mat-select fxFlex [disabled]="!selectedLayer" class="list-item" floatPlaceholder="never"
		           [(ngModel)]="selectedLayer?.details.type">
			<mat-option value="Background">Background</mat-option>
			<mat-option value="Collision">Collision</mat-option>
			<mat-option value="Navigation">Navigation</mat-option>
		</mat-select>
	</mat-list-item>
	
	<mat-list-item fxLayout="column">
		<span class="label">Name: </span>
		<mat-input-container class="list-item" floatPlaceholder="never">
			<input matInput [disabled]="!selectedLayer" [(ngModel)]="selectedLayer?.details.name">
		</mat-input-container>
	</mat-list-item>
	
	<mat-list-item fxLayout="column">
		<span class="label">Level: </span>
		<mat-select fxFlex [disabled]="!selectedLayer" class="list-item" floatPlaceholder="never"
		           [(ngModel)]="selectedLayer?.details.level">
			<mat-option *ngFor="let level of tilemap?.levels; let i=index" [value]="i">{{i}}</mat-option>
		</mat-select>
	</mat-list-item>
	
	<mat-list-item fxLayout="column">
		<span class="label">Distance: </span>
		<mat-input-container class="list-item" floatPlaceholder="never">
			<input type="number" step="0.1" matInput [disabled]="!selectedLayer"
			       [(ngModel)]="selectedLayer?.details.distance">
		</mat-input-container>
	</mat-list-item>
	<br>
</mat-list>
