@import "~@angular/material/theming";
@import "../../../styles/theme";

$config: mat-typography-config();
$background: map_get($theme, background);

h3 {
	font-weight: mat-font-weight($config, caption);
	background-color: rgba(255, 255, 255, 0.1);
	height: 30px;
	line-height: 30px;
	padding-left: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
}

// layer selection
$type-hue: A200;

.type-Background {
	background-color: mat-color($mat-green, $type-hue);
}

.type-Collision {
	background-color: mat-color($mat-red, $type-hue);
}

.type-Navigation {
	background-color: mat-color($mat-blue, $type-hue);
}

.type-circle {
	width: 32px !important;
}

.item-selected-bg {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: background-color 100ms linear;
}

.item-selected {
	background-color: mat-color($mat-grey, 700);
}

mat-nav-list {
	padding-top: 0 !important;
	overflow-x: hidden;
	//noinspection CssInvalidPropertyValue
	overflow-y: overlay;
}

.small-list {
	min-height: 80px !important;
	& mat-list-item, .mat-list-item-content {
		height: 36px !important;
	}
}

// layer settings
.settings-list {
	//margin-top: 16px;
}

.list-item {
	//padding-left: 16px;
	width: 100%;
}
