@use '~@angular/material' as mat;

.elevated-toolbar {
	position: relative;
	z-index: 2;
}

.toggle-3d {
	margin-left: 16px;
}

mat-spinner {
	height: 40px;
}

.load-error {
	color: mat.get-color-from-palette(mat.$red-palette, 500);
}
