<p class="version caption">{{version}}</p>
<mat-toolbar fxLayout="row" class="mat-elevation-z4 elevated-toolbar">
	
	<div fxFlex fxLayoutAlign="start">
		<button mat-button [matMenuTriggerFor]="file">File</button>
		<mat-menu #file="matMenu">
			<button mat-menu-item *ngIf="loaded" (click)="loadMapClicked.emit()">Load Map</button>
			<button [disabled]="!map" mat-menu-item (click)="saveMap(false)">Save Map (Ctrl + S)</button>
			<button [disabled]="!map" mat-menu-item (click)="saveMap(true)">Save Map as... (Ctrl + Shift + S)</button>
		</mat-menu>
		
		<button mat-button [matMenuTriggerFor]="menu">Edit</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item [matMenuTriggerFor]="tools">Tools</button>
			<button *ngIf="isElectron" mat-menu-item (click)="showSettings()">Settings</button>
		</mat-menu>
		
		<mat-menu #tools="matMenu">
			<button mat-menu-item (click)="offsetMap()" [disabled]="!map">Offset Map</button>
			<button mat-menu-item (click)="generateHeights(true)" [disabled]="!map">Generate Heights FULL (Ctrl + Shift + H)</button>
			<button mat-menu-item (click)="generateHeights(false)" [disabled]="!map">Generate Heights (Ctrl + H)</button>
		</mat-menu>

	</div>
	
	<div fxFlex>
		<span class="mat-headline">{{map?.name}}</span>
	</div>
	<div fxFlex fxLayoutAlign="end">
		<div>
			<button *ngIf="map" mat-button (click)="openMapSettings()">Map Settings</button>
			<button *ngIf="loaded; else loader" mat-button (click)="newMap()">New Map</button>
			<ng-template #loader>
				<span class="load-error">{{error}}</span>
				<mat-spinner *ngIf="!error" [diameter]="40" [strokeWidth]="5"></mat-spinner>
			</ng-template>
		</div>
	</div>
</mat-toolbar>
