.elevated-toolbar {
	position: relative;
	z-index: 2;
}

input[type="file"] {
	display: none;
}

mat-spinner {
	height: 40px;
}

.version {
	bottom: 5px;
	right: 5px;
	color: white;
	z-index: 9999;
	position: absolute;
}
