@import "theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.event-add-container {
	overflow-y: auto;
	width: 300px;
	height: 90vh;
	color: white;
	background-color: mat-color($accent, 800);
}

.header {
	padding-left: 16px;
	padding-right: 16px;
	background-color: mat-color($accent, 900);
}

.mat-list-base {
	padding-top: 0;
}

.scroll-viewport {
	height: 100%;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
	width: 100%;
}

.list-item {
	width: 100%;
	text-align: center;
}
