<div class="event-add-container mat-elevation-z8" fxLayout="column" [@slideContent]="animState">
	<label class="header" fxLayoutAlign="center" fxLayout="column" fxFlex="60px">
		<mat-form-field>
			<input matInput #filterInput [(ngModel)]="filterText">
		</mat-form-field>
	</label>
	<mat-nav-list class="scroll-viewport">
		<cdk-virtual-scroll-viewport itemSize="48" class="scroll-viewport dark-scrollbar">
			<a mat-list-item *cdkVirtualFor="let event of eventsFiltered" (click)="select(event)">
				<span class="list-item" appHighlight [highlightText]="event" [highlightMatch]="filterText"></span>
				<mat-divider></mat-divider>
			</a>
		</cdk-virtual-scroll-viewport>
	</mat-nav-list>
</div>

