<cc-overlay-panel
	title="Prop type"
	[customSize]="{width: 'calc(100vw - 330px - 220px)'}"
	[showButtonDivider]="true"
>
	<ng-container ngProjectAs="content">
		<div class="flex flex-col h-full">
			<div class="flex p-4 gap-2.5">
				<label class="property-name">sheet:</label>
				<app-autocompleted-textbox
					[availableOptions]="availableSheets"
					[text]="settings.sheet"
					(textChange)="setSheet($event)"
				></app-autocompleted-textbox>
			</div>
			<div class="divider"></div>
			<app-split-pane
				[bounds]="{left: 10, right: 10}"
				[opened]="true"
				[(base)]="splitBase"
				[showGutter]="true"
				class="overflow-auto"
			>
				<ng-container ngProjectAs="left">
					<div class="overflow-auto h-full mr-1.5 dark-scrollbar">
						<h2 class="headline">Prop Type</h2>
						<div class="flex flex-row flex-wrap gap-6 p-4">
							<app-prop-type-overlay-card
								*ngFor="let prop of propNames"
								[name]="prop.name"
								[img]="prop.imgSrc"
								[selected]="settings.name === prop.name"
								(onClick)="setPropType(prop.name)"
							></app-prop-type-overlay-card>
						</div>
					</div>
				</ng-container>
				<ng-container ngProjectAs="right">
					<div class="overflow-auto h-full mr-1.5 dark-scrollbar">
						<h2 class="headline">Prop Anim</h2>
						<div class="flex flex-row flex-wrap gap-6 p-4">
							<app-prop-type-overlay-card
								*ngFor="let prop of propAnimNames"
								[name]="prop.name"
								[img]="prop.imgSrc"
								[selected]="this.entity?.details?.settings?.[animKey] === prop.name"
								(onClick)="setPropAnim(prop.name)"
							></app-prop-type-overlay-card>
						</div>
					</div>
				</ng-container>
			</app-split-pane>
		</div>
	</ng-container>
	<ng-container ngProjectAs="actions">
		<button mat-stroked-button (click)="close()">Close</button>
	</ng-container>
</cc-overlay-panel>
