
@use '@angular/material' as mat;
@import "theme";
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.dialog-container {
	width: 70vw;
	height: 85vh;
}

.input-container{
	width: 50%;
}

.button-container{
	margin-top: 16px;
}

.raw-input {
	margin-left: 16px;
	font-family: droid sans mono, consolas, monospace, courier new, courier, sans-serif;
	resize: none;
	color: white;
	background-color: var(--gray-700);
}
