<cc-overlay-panel title="Map Context">
	<ng-container ngProjectAs="content">
		<mat-radio-group class="radio-group" [(ngModel)]="selected.name">
			<mat-radio-button class="radio-button" *ngFor="let mod of mods" [value]="mod.name" (change)="onSelect($event, mod)">
				{{mod.name}}
			</mat-radio-button>
		</mat-radio-group>
	</ng-container>
	<ng-container ngProjectAs="actions">
		<button mat-stroked-button (click)="close()">Close</button>
		<button mat-stroked-button (click)="save()">Save</button>
	</ng-container>
</cc-overlay-panel>