<div fxLayout="row" class="property-container" [matTooltip]="attribute?.description" [matTooltipDisabled]="disableTooltip">
	<label [for]="key" class="property-name">{{key}}:</label>
	<div class="mat-select-container" *ngIf="attribute?.options; else defaultInput">
		<app-autocompleted-textbox
			[id]="key"
			[availableOptions]="keys"
			[text]="settings[key]"
			(textChange)="setSetting(key, $event)"
			(onContainsMouse)="disableTooltip = $event"
		></app-autocompleted-textbox>
	</div>
	<ng-template #defaultInput>
		<input class="default-input"
		       *ngIf="!attribute?.large; else largeInput"
		       [id]="key"
		       [ngModel]="settings[key]"
		       (input)="setSetting(key, $event.target.value)">
	</ng-template>
	
	<ng-template #largeInput>
		<textarea class="default-input"
		          [id]="key"
		          [ngModel]="settings[key]"
		          (input)="setSetting(key, $event.target.value)"
		></textarea>
	</ng-template>
</div>
