<div fxLayout="row" class="property-container" [matTooltip]="attribute?.description">
	<label [for]="key" class="property-name">{{key}}:</label>
	<div class="mat-select-container" *ngIf="attribute?.options; else defaultInput">
		<input class="default-input"
			[id]="key"
			[matAutocomplete]="auto"
			[ngModel]="settings[key]"
			(ngModelChange)="setSetting(key, $event)"
		>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let key of filteredOptions()" [value]="key">
				<span> {{key}} </span>
			</mat-option>
		</mat-autocomplete>
	</div>
	<ng-template #defaultInput>
		<input class="default-input"
		       *ngIf="!attribute?.large; else largeInput"
		       [id]="key"
		       [ngModel]="settings[key]"
		       (input)="setSetting(key, $event.target.value)">
	</ng-template>
	
	<ng-template #largeInput>
		<textarea class="default-input"
		          [id]="key"
		          [ngModel]="settings[key]"
		          (input)="setSetting(key, $event.target.value)"
		></textarea>
	</ng-template>
</div>
