@import "~@angular/material/theming";

$config: mat-typography-config();

.text {
					
	$font-type:		body-1;
	font-family:	mat-font-family($config);
	font-size:		large;
	font-weight:	mat-font-weight($config, $font-type);
	color:			white;
}