<div *ngIf="nested; else standAlone">
	<input matInput	[matAutocomplete]="auto" [ngModel]="settings[key]" class="text" (change)="setSetting(key, $event.target.value)">
	<mat-autocomplete #auto="matAutocomplete">
    	<mat-option *ngFor="let item of names" [value]="item">
        	<span> {{item}} </span>
    	</mat-option>
	</mat-autocomplete>
</div>

<ng-template #standAlone>
	<div fxLayout="row" class="property-container" [matTooltip]="attribute?.description">
		<span class="property-name">{{key}}:</span>
		<input matInput  [matAutocomplete]="auto" [ngModel]="settings[key]" class="text" (change)="setSetting(key, $event.target.value)">
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let item of names" [value]="item">
				<span> {{item}} </span>
			</mat-option>
		</mat-autocomplete>
	</div>
</ng-template>