
:host {
	min-width: 0;
	overflow: hidden;
}

.detail-container {
	overflow-y: auto;
	overflow-x: hidden;
	width: 300px;
	max-height: 78vh;
	color: white;
	background-color: var(--gray-800);
}

.content {
	padding: 16px 16px 16px 16px;

}

.top-row{
	margin-bottom: 14px;
}

.title{
	font-weight: 500;
	font-size: 1.2em;
	text-align: center;
}

.header {
	user-select: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--gray-900);

	& h2 {
		margin-bottom: 0;
	}
}
.ng-draggable {
	cursor: move;
}

.button-row {
	padding-top: 16px;
	& button{
		margin-left: 16px;
	}
}
