.default-input {
	background-color: rgba(83, 192, 255, 0.4);
}

.mini-button {
	width: 15px;
	background: none;
	border: solid 1px #7f7f7f;
	color: inherit;
	//font: inherit;
	//line-height: normal;
	//overflow: visible;
	padding: 0;
}
