<div fxLayout="row" class="full-size" #container>
	<div
		class="panel left"
		[style.flex-basis]="basisLeft + '%'"
		[class.fully-opened]="!opened"
		[class.no-transition]="noAnims"
	>
		<div class="content" fxFlex="auto">
			<ng-content select="left"></ng-content>
		</div>
	</div>
	<div
		class="panel right"
		[style.flex-basis]="basisRight + '%'"
		[class.fully-closed]="!opened"
		[class.no-transition]="noAnims"
	>
		<div
			class="gutter"
			[style.display]="opened ? 'inherit' : 'none'"
			(mousedown)="dragStart($event)"
		></div>
		<div class="content" fxFlex="auto">
			<ng-content select="right"></ng-content>
		</div>
	
	</div>
</div>
