@use '@angular/material' as mat;

h2 {
	margin-left: 14px;
	margin-top: 10px;
	margin-bottom: 0;
	background: transparent;
}

.entity-settings-container {
	padding: 16px 16px 16px 16px;
	overflow-y: auto;
	overflow-x: hidden;
}

.filter {
	padding: 8px 16px 0;
}

::ng-deep {
	$bottomSpace: 0.7em;
	& .mat-form-field {
		.mat-form-field-wrapper {
			padding-bottom: $bottomSpace;
		}

		.mat-form-field-underline {
			bottom: $bottomSpace;
		}
	}
}

