<label class="filter" fxLayout="column" *ngIf="!entity && !hideFilter">
	<mat-form-field>
		<input #filterInput matInput type="text" placeholder="Filter" [(ngModel)]="filter"
		       (ngModelChange)="updateFilter()"/>
	</mat-form-field>
</label>
<mat-divider></mat-divider>
<h2 class="mat-title">{{entity?.details.type}}</h2>
<div class="entity-settings-container dark-scrollbar" fxLayout="column">
	
	<app-string-widget [key]="'name'" [entity]="entity" *ngIf="entity"></app-string-widget>
	
	<!--<app-json-widget [key]="'details'" [custom]="entity" [entity]="entity" *ngIf="entity"></app-json-widget>-->
	
	<app-vec2-widget [key]="'container'" [custom]="entity" [entity]="entity" [displayName]="'Pos'"
	                 *ngIf="entity"></app-vec2-widget>
	
	<app-level-widget [key]="'level'" [custom]="entity.details" [entity]="entity" [displayName]="'Level'"
	                  *ngIf="entity"></app-level-widget>
	
	<ng-template appHost></ng-template>
</div>
