@import "theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$config: mat-typography-config();

.event-container {
}

.event-row {
	user-select: none;

	&:focus {
		border: none;
		outline: none;
		background-color: rgb(38, 78, 100);
	}

	&.last-row {
		position: relative;
		min-height: 30px;
	}
}

.event-row-text {
	padding: 4px 4px 4px 6px;
}

.child-offset {
	padding-left: 14px;
}

.last-row-span {
	position: absolute;
	top: 6px;
}

.no-click {
	user-select: none;
	pointer-events: none;
}

button {
	width: 100%;
	text-transform: none;
	$font-type: subheading-1;
	font-family: mat-font-family($config);
	font-size: mat-font-size($config, $font-type);
	font-weight: mat-font-weight($config, $font-type);
	background: none;
	color: white;
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	text-align: start;
}


