<app-row-text [text]="data.info" [(data)]="data" [(parent)]="parent">
	
	<!-- Children -->
	<div *ngFor="let child of data.children">
		<!-- Title -->
		<app-row-text [text]="child.title" [hideGreaterSign]="child.hideGreaterSign">
			<div class="child-offset">
				<!-- every children -->
				<app-event-row [data]="event" [parent]="child.events" *ngFor="let event of child.events"></app-event-row>
				
				<!-- extra line for adding new events -->
				<app-row-text text=" " [(parent)]="child.events"></app-row-text>
			</div>
		</app-row-text>
	</div>
</app-row-text>

