.tile-selector-container {
	display: inline-block;
	position: relative;
	background-color: var(--gray-800);
	overflow: hidden;
	max-height: 80vh;
}

.button-container {
	padding-right: 16px;
	margin-bottom: 8px;
}

.item-selected {
	background-color: var(--gray-700) !important;
}
