<div class="dialog-container" fxLayout="column">
	<h1 class="mat-headline">Map Settings</h1>
	
	<!--Map Size-->
	<div fxLayout="row" fxFlex="0 0 auto">
		<span fxFlexAlign="center" fxFlex="0 0 100px">Map Size:</span>
		<span fxFlexAlign="center">width: </span>
		<input type="number" class="default-input small-input" [(ngModel)]="settings.mapWidth">
		<span fxFlexAlign="center">height: </span>
		<input type="number" class="default-input small-input" [(ngModel)]="settings.mapHeight">
	</div>
	
	<hr>
	
	<!--Levels-->
	<div fxLayout="row" fxFlex="0 0 auto">
		<span fxFlex="0 0 100px">Levels: </span>
		<div fxLayout="column">
			<div fxLayout="row" *ngFor="let level of settings.levels; let i=index">
				<span fxFlexAlign="center">Level {{i}}:</span>
				<input class="default-input" [(ngModel)]="level.height">
				<button md-button (click)="settings.levels.splice(i, 1)" tabindex="-1">Remove</button>
			</div>
			<div>
				<button md-button (click)="settings.levels.push({height: 0})">Add Level</button>
			</div>
		</div>
	</div>
	
	<!--Master Level-->
	<hr>
	<div fxLayout="row" fxFlex="0 0 auto">
		<span fxFlexAlign="center">Master Level: </span>
		<!--<input type="number" class="default-input small-input" [(ngModel)]="settings.masterLevel">-->
		<md-select class="material-input" [(ngModel)]="settings.masterLevel">
			<md-option *ngFor="let level of settings.levels; let i=index" [value]="i">
				{{i}}
			</md-option>
		</md-select>
	</div>
	<hr>
	
	<!--Attributes-->
	<div fxLayout="column" fxFlex="0 0 auto">
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">cameraInBounds: </span>
			<md-checkbox class="material-input" color="primary"
			             [(ngModel)]="settings.attributes.cameraInBounds"></md-checkbox>
		</div>
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">saveMode: </span>
			<input class="default-input" [(ngModel)]="settings.attributes.saveMode">
		</div>
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">bgm: </span>
			<input class="default-input" [(ngModel)]="settings.attributes.bgm">
		</div>
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">map-sounds: </span>
			<input class="default-input" [(ngModel)]="settings.attributes['map-sounds']">
		</div>
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">mapStyle: </span>
			<input class="default-input" [(ngModel)]="settings.attributes.mapStyle">
		</div>
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">weather: </span>
			<input class="default-input" [(ngModel)]="settings.attributes.weather">
		</div>
		<div class="attribute" fxLayout="row">
			<span fxFlexAlign="center">area: </span>
			<input class="default-input" [(ngModel)]="settings.attributes.area">
		</div>
	</div>
	
	<!--Actions-->
	<div fxFlex="1 0 40px" fxLayoutAlign="end">
		<div fxFlexAlign="end" class="action-button-row">
			<button md-button (click)="ref.close()">Cancel</button>
			<button md-button (click)="update()">Update</button>
		</div>
	</div>

</div>
