@import "../../../styles/theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$btnWidth: 34px;
$toolbarHeight: 32px;

.container {
	min-width: 100px;
	position: absolute;
}

.ng-draggable {
	cursor: move;
}

.title {
	user-select: none;
}

.toolbar {
	padding-left: 16px;
	background-color: mat-color(map-get($theme, background), app-bar);
	height: $toolbarHeight !important;
	.minimize-button {
		//background-color: mat-color($primary, 700);
		width: $btnWidth;
		height: 100%;
		font-size: 24px !important;
		line-height: normal;
		font-weight: 800;
		min-width: 0;
		min-height: 0;
		border-radius: 0;
		padding: 0;
	}
}

.mat-button-wrapper {
	min-width: 0;
	min-height: 0;
	height: 100px !important;
}

.content {
	height: 100%;
}

