@import "../../../styles/theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.container {
	min-width: 100px;
	position: absolute;
}

.ng-draggable {
	cursor: move;
}

.title {
	user-select: none;
}

.dragable-toolbar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
}

.toolbar {
	padding: 0 16px 0 16px;
	background-color: mat-color(map-get($theme, background), app-bar);
	height: 30px !important;
}

.content {
	height: 100%;
	background-color: mat-color($accent, 800);
}

