<div class="event-container" fxLayout="row">
	<app-split-pane
		#splitpane
		[bounds]="{left: 10, right: 10}"
		[opened]="detailsShown"
		[base]="0">
		<ng-container ngProjectAs="left">
			<div class="event-inner-container dark-scrollbar" 
				fxFlex="1 1 0" 
				cdkDropList 
				(cdkDropListDropped)="drop($event)">
				<!--Add [cdkDropListSortPredicate]="sortPredicate" once Anglular is upraded to 11 or higher-->
				<mat-tree 
					#eventTree
					fxLayout="column" 
					[dataSource]="dataSource"
					[treeControl]="treeControl"

					(dblclick)="openAddMenu($event, null)"
					(contextmenu)="openAddMenu($event, null)"
					(keydown)="keyPress($event)"
					tabindex="0">
					<mat-tree-node 
						*matTreeNodeDef="let node" 
						matTreeNodePadding 
						[matTreeNodePaddingIndent]="16" 

						cdkDrag 
						cdkDragLockAxis="y" 
						[cdkDragData]="node" 
						[cdkDragDisabled]="!node.draggable" 
						cdkDragHandle
						
						(click)="eventClicked($event, node)"
						(dblclick)="openAddMenu($event, node)"
						(contextmenu)="openAddMenu($event, node)">
						<app-row-text [display]="node"></app-row-text>
					</mat-tree-node>
				</mat-tree>
			</div>
		</ng-container>
		<ng-container ngProjectAs="right">
			<app-event-detail (refresh)="refresh()" (close)="hideDetails()"></app-event-detail>
		</ng-container>
	</app-split-pane>
</div>
