<div class="event-container dark-scrollbar" fxLayout="column">
	<mat-tree class="event-inner-container" fxFlex="1 0 100%" fxLayout="column" [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="drop($event)">
		<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="16" cdkDrag [cdkDragData]="node" [cdkDragDisabled]="!node.isActionStep" cdkDragHandle>
			<app-row-text [text]="node.text" [data]="node.data" [parent]="getParent(node)" [actionStep]="node.isActionStep" (dataChange)="refresh()"></app-row-text>
		</mat-tree-node>
	</mat-tree>
</div>