:host {
	height: 100%;
	overflow-y: auto;
}

.event-container {
	flex: 1 1 0;
	overflow: auto;
}

.event-inner-container {
	padding-left: 6px;
	$color1: #3a3a3a;
	$color2: #343434;
	$size: 26px;
	background: repeating-linear-gradient(
			180deg,
			$color1,
			$color1 $size,
			$color2 $size,
			$color2 $size * 2
	);
}

.event-inner-container > .mat-tree-node {
	display: block;
	flex: none;
	min-height: auto;
}