@import "~@angular/material/theming";
@import "../../styles/theme";

$config: mat-typography-config();
$background: map_get($theme, background);

.nav-container {
	height: 100%;
}

.tab-container{
	background-color: rgba(255, 255, 255, 0.1);
	width: 100%;
}

.mat-tab-links {
	flex-grow: 1;
}
