<div fxLayout="column" class="nav-container" *ngIf="tilemap">
	<nav md-tab-nav-bar fxFlex="0 0 auto" fxLayout="row" class="tab-container">
		<a md-tab-link
		   fxFlex="1 1 auto"
		   class="tab"
		   (click)="selectTab(1)"
		   [active]="tab === 1">
			Layers
		</a>
		<a md-tab-link
		   fxFlex="1 1 auto"
		   class="tab"
		   (click)="selectTab(2)"
		   [active]="tab === 2">
			Entities
		</a>
	</nav>
	<app-layers fxFlex="1 1 auto" fxLayout="column" *ngIf="tab === 1" [@transition]></app-layers>
	<app-entities fxFlex="1 1 auto" fxLayout="column" *ngIf="tab === 2" [@transition]></app-entities>
</div>
