@use '@angular/material' as mat;
@import "theme";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$btnWidth: 34px;
$toolbarHeight: 32px;

.container {
	min-width: 100px;
	position: absolute;
	z-index: 100;
}

.ng-draggable {
	cursor: move;
}

.title {
	user-select: none;
}

.toolbar {
	padding-left: 16px;
	background-color: mat.get-color-from-palette(map-get($theme, background), app-bar);
	height: $toolbarHeight !important;

	.toolbar-button {
		//background-color: mat.get-color-from-palette($primary, 700);
		width: $btnWidth;
		height: 100%;
		line-height: normal;
		min-width: 0;
		min-height: 0;
		border-radius: 0;
		padding: 0;
	}

	.minimize-button {
		padding-top: 5px;
		font-size: 24px !important;
		font-weight: 800;
	}

	.close-button {
		font-size: 18px !important;
		font-weight: 800;
		text-transform: none;
	}
}

.mat-button-wrapper {
	min-width: 0;
	min-height: 0;
	height: 100px !important;
}

.content {
	height: 100%;
}

