<mat-toolbar fxLayout="column" class="mat-elevation-z4 elevated-toolbar">
	<div fxFlex>
		<button mat-icon-button (click)="onMenuClick.emit($event)">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div fxFlex>
		<span class="mat-headline">{{map?.name}}</span>
	</div>
	<div fxFlex fxLayoutAlign="end">
		<input #fileUpload type="file" (change)="loadMap($event)" accept=".json"/>
		
		<div class="button-row">
			<button *ngIf="map" mat-button (click)="openMapSettings()">Map Settings</button>
			<button *ngIf="map" mat-button (click)="saveMap()">Save Map</button>
			<button mat-button *ngIf="loaded; else loader" (click)="fileUpload.click()">Load Map</button>
			<ng-template #loader>
				<mat-spinner></mat-spinner>
			</ng-template>
		</div>
	</div>
</mat-toolbar>
