<div class="flex flex-col gap-2 p-3">
	<!-- Map Name -->
	<div class="flex flex-row gap-2 items-baseline">
		<span class="w-24">Map Name: </span>
		<input type="text" class="default-input grow" [(ngModel)]="settings.name">
	</div>
	<hr>

	<!--Map Size-->
	<div class="flex flex-row gap-2 items-baseline">
		<span class="w-24">Map Size:</span>
		<span>width: </span>
		<input type="number" class="default-input small-input" min="1" [ngModel]="settings.mapWidth" (change)="onNumberChange($event, 'mapWidth')">
		<span>height: </span>
		<input type="number" class="default-input small-input" min="1" [ngModel]="settings.mapHeight" (change)="onNumberChange($event, 'mapHeight')">
	</div>
	
	<hr>
	
	<!--Levels-->
	<div class="flex flex-row gap-2">
		<span class="w-24">Levels: </span>
		<div class="flex flex-col gap-1 grow">
			<div class="flex flex-row gap-2 items-baseline" *ngFor="let level of settings.levels; let i=index">
				<span>Level {{i}}:</span>
				<input class="default-input grow" [(ngModel)]="level.height">
				<button mat-stroked-button *ngIf="settings.levels.length > 1" (click)="settings.levels.splice(i, 1)" tabindex="-1">Remove</button>
			</div>
			<div>
				<button mat-stroked-button (click)="settings.levels.push({height: 0})">Add Level</button>
			</div>
		</div>
	</div>
	
	<!--Master Level-->
	<hr>
	<div class="flex flex-row gap-2 items-baseline">
		<span class="w-24">Master Level: </span>
		<div class="grow">
			<mat-select [(ngModel)]="settings.masterLevel" class="default-input">
				<mat-option *ngFor="let level of settings.levels; let i=index" [value]="i">
					{{i}}
				</mat-option>
			</mat-select>
		</div>
	</div>
	<hr>
	
	<!--Attributes-->
	<div class="attributes-container flex flex-rwo flex-wrap">
		<div class="attribute-tile">
			<div class="attribute flex flex-row items-baseline">
				<span >cameraInBounds: </span>
				<mat-checkbox class="material-input" color="primary"
							  [(ngModel)]="settings.attributes.cameraInBounds"></mat-checkbox>
			</div>
		</div>
		
		<div *ngFor="let prop of mapSettings | keyvalue" class="attribute-tile">
			<app-string-widget [key]="$any(prop.key)" [custom]="$any(settings.attributes)" [attribute]="$any({options:prop.value})" ></app-string-widget>
		</div>
	</div>
</div>