@use '@angular/material' as mat;
@import "theme";

.action-button-row {
	margin-bottom: 8px;
}
.attribute-tile {
	max-width: 50%;
	width: 50%;
	height: fit-content;
	padding: 5px;
	box-sizing: border-box;
}
