@import "~@angular/material/theming";
@import "theme";

$config: mat-typography-config();
$color: map_get($theme, accent);

.content-container {
	padding: 24px;
}

.masterlevel-input {
	margin-left: 16px;
}

.default-input, .attribute-input {
	margin-left: 16px;
	margin-right: 16px;
}

.material-input {
	margin-left: 16px;
	margin-right: 16px;
}

.attribute {
	padding-bottom: 5px;
	padding-top: 5px;
}

.action-button-row {
	margin-bottom: 8px;
}
