<cc-overlay-panel
	title="Offset Map"
	[customSize]="{width: '250px', height: 'auto'}"
>
	<ng-container ngProjectAs="content">
		<div class="flex flex-col p-3">
			<div class="flex items-baseline">
				<label class="w-6">
					X:
				</label>
				<mat-form-field class="flex-auto">
					<input
						matInput
						[(ngModel)]="offset.x"
						type="number"
					>
				</mat-form-field>
			</div>
			<div class="flex items-baseline">
				<label class="w-6">
					Y:
				</label>
				<mat-form-field class="flex-auto">
					<input
						matInput
						[(ngModel)]="offset.y"
						type="number"
					>
				</mat-form-field>
			</div>
			<mat-checkbox
				color="primary"
				[(ngModel)]="entities"
			>
				Offset Entities
			</mat-checkbox>
		</div>
	</ng-container>
	<ng-container ngProjectAs="actions">
		<button mat-stroked-button (click)="ref.close()">Cancel</button>
		<button mat-stroked-button (click)="update()">Offset</button>
	</ng-container>
</cc-overlay-panel>
