@import "~@angular/material/theming";

$config: mat-typography-config();

.dialog-container {
	//width: 30vw;
	//height: 30vh;
}

.input-element {
	margin-left: 16px;
}

.default-input {
	margin-left: 16px;
	margin-right: 16px;
}

.material-input {
	margin-left: 16px;
	margin-right: 16px;
}

.attribute {
	margin-top: 4px;
	span {
		text-align: right;
		width: 130px;
	}
}

.action-button-row {
	margin-bottom: 8px;
}
