@use '@angular/material' as mat;

$config: mat.define-typography-config();

.icon {
	display: inline-block;
	margin-right: 16px;
}

.mapTree ul,
.mapTree li {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 16px;
	list-style-type: none;
}

.mapTree-button {
	text-align: left;
	text-transform: none;
	width: 100%;
	min-height: 48px;
	justify-content: flex-start;
}

.filter {
	padding: 16px;
}

.sidenav {
	height: 100%;
}

.map-list {
	overflow-y: auto;
}

.hidden {
	display: none;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.separator {
	padding-left: 8px;
	padding-right: 8px;
	color: #9E9E9E;
}
