name: build
on:
  # https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662/13
  workflow_dispatch:
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: ./.github/actions/build
