<cc-overlay-panel
	cdkTrapFocus [cdkTrapFocusAutoCapture]="true"
	title="You have unsaved changes"
	[customSize]="{width: '30em', height: 'auto'}"
	left="-50%"
	top="-25%"
> <!-- Why is top 25%? Nobody knows! It just works -->
	<ng-container ngProjectAs="content">
		<div class="p-3 text-center">
			Are you sure you want to discard your changes?
		</div>
	</ng-container>
	<ng-container ngProjectAs="actions">
		<button mat-stroked-button (click)="close(null)" *ngIf="showDevMode && devMode" cdkFocusInitial>DEV: Reload
		</button>
		<button mat-stroked-button (click)="close(false)" cdkFocusInitial>Go back</button>
		<button mat-stroked-button (click)="close(true)">Discard changes</button>
	</ng-container>
</cc-overlay-panel>
